/* Archivo */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* FONT IMPORT */

body {
  font-family: 'Montserrat';
  background: #1E2751;
  margin: 0;
  cursor:default;
}

body::-webkit-scrollbar {
  display: none;
}

/* BACKGROUND STARS */

.stars1 {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.stars2 {
  position: absolute;
  z-index: -1;
  opacity: 0.6;

}

.stars3 {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}

/* OPENING CONTAINER */

.jake-hurley {
  color: white;
  text-align: center;
  font-family: 'Archivo';
  font-size: 8em;
  width: 45%;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 0;
}

.job-title-container {
  margin: 0 auto;
}

.job-title-line-1 {
  margin-left: 28%;
  display: inline-block;
  padding-bottom: 0.3%;
}

.job-title-line-2 {
  display: inline-block;
  padding-bottom: 0.3%;
}

.job-title {
  display: inline-block;
  color: white;
  margin-top: 0;
  text-align: center;
  font-size: 1.75em;
  width: 30%;
}

.job-title-slash {
  color: #E85A4F;
}

.option-box {
  font-size: 1.75em;
  text-align: center;
  display: inline-block;
  color: white;
  width: 18%; 
  padding: 0 0.5%;
  background: #E85A4F; 
  border-radius: 10px;
}

.option-box:hover {
  animation-name: highlight;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.resume-box {
  margin:5% 7% 0 27%;
}

.resume-link {
  text-decoration: none;
  color:white;
}

.option-text {
  margin: 5%;
}


.about-me-box {
  margin-right: 20%;
}

.cta-arrow {
  padding-top: 10%;
  margin-left: 48%;
  margin-bottom: 6%;
}


/* NAVBAR */

.navbar {
  font-family: 'Archivo';
  color:white;
  margin: 0;
  padding: 0.5% 0 0.5% 0;
  width: 100%;
  background: #E85A4F;
  z-index: 9999;

}

.navbar-fixed {
  position: fixed;
  top:0;
  left:0;
  margin: 0;
}

.navbar-reveal {
    animation-name: reveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .reveal {
    animation-name: reveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

.navbar-item {
  display: inline;
  color:white;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  padding: 3% 4%;

}

.navbar-item:hover {
  animation-name: highlight;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.navbar-about {
  margin-left: 22%;
}

/* ABOUT ME CONTAINER */

.about-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.about-me {
  font-family: 'Archivo';
  color: white;
  font-size: 7em;
  width: 30%;
  margin: 6% auto 3% auto;
  text-align: center;
  border-bottom: 5px solid #E85A4F;
}

.about-statement {
  font-size: 1.7em;
  width: 20%;
  margin-left: 27%;
  margin-right: 5%;
}

.stack-icons {
  display: flex;
  flex-wrap: wrap;
  width:20%;
}

.icon {
  margin:5% 8%;
}


/* MY WORK CONTAINER */

.work-container {
  width: 70%;
  margin: 0 auto 30% auto;
  color: white;
}

.my-work {
  color: white;
  font-family: 'Archivo';
  font-size: 7em;
  width: 27%;
  margin: 10% auto 5% auto;
  text-align: center;
  border-bottom: 5px solid #E85A4F;
}

.project-container {
  display: inline-block;
  width: 35%;
  position: relative;
}

.project {
  width: 20%;
  margin: 0;
}

.project-name {
  font-family: 'Archivo';
  font-size: 2em;
  position: absolute;
  top:35%;
  left: 25%;
  color:white;
  opacity: 0;
  z-index: 9999;
}

.project-name-reveal {
  animation-name: reveal;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }
  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.project-name-remove {
  animation-name: remove;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
@keyframes remove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.thumbnail {
 padding: 3.5%;
 margin: 0 auto;
}

.thumbnail:hover {
  animation-name: highlight;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }
  @keyframes highlight {
    from {
      filter: brightness(100%);
    }
    to {
      filter: brightness(50%);
    }
}

.project-title {
  font-family: 'Archivo';
  text-align: center;
  color: white;
  font-size: 3em;
}

.project-summary {
  text-align: center;
  font-size: 1.4em;
}

.project-image {
  /* display: inline-block; */
  width: 43.5%;
  margin: 3%;
}

.project-link {
  display: block;
  text-decoration: none;
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.project-link:hover {
  color: #E85A4F;
}

.project-cross {
  position: absolute;
  right: 30%;
}

/* CONTACT CONTAINER */

.contact-container {
  background: #E85A4F;
  text-align: center;
  color:white;
  font-size: 1.5em;
}
.contact {
  font-family: 'Archivo';
  padding-top: 1%;
  font-size: 2em;
}

.socials {
  padding: 2%;
  
}

.socials:hover {
  animation-name: highlight;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}



/* MOBILE */

@media only screen and (max-width: 500px) {

  .stars1 {
    position: fixed;
    z-index: -1;
    opacity: 0.8;
    width: 100vw;
  }
  
  .stars2 {
    position: fixed;
    z-index: -1;
    opacity: 0.6;
    width:100vw;
  }
  
  .stars3 {
    position: fixed;
    z-index: -1;
    opacity: 0.4;
    width:100vw;
  }

  .jake-hurley {
    font-size: 4em;
    width: 90%;
    margin: 0 auto;
    padding-top: 30%;
  }

  .job-title {
    font-size: 0.7em;
    width: 50%;
    padding-bottom: 10%;
  }

  .job-title-line-1 {
    width: 10%;
    margin-left: 15%;
  }

  .job-title-line-2 {
    width: 10%;
  }

  .option-box {
    width: 25%;
  }

  .option-text {
    font-size: 0.5em;
  }

  .resume-box {
    margin-left: 21%;
  }

  .cta-arrow {
    padding-top: 25%;
    padding-bottom: 20%;
    margin-left: 45%;
    width: 10%;
  }

  /* NAVBAR */

  .navbar {
    display: none;
    width: 100vw;
  }

  .navbar-item {
    font-size: 0.5em;
  }

  /* ABOUT ME CONTAINER */

  .about-container {
    display: block;
  }

  .about-me {
    padding-top: 30%;
    font-size: 4em;
    width: 70%;
    margin-bottom: 7%;
  }

  .nice-to-meet-you {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
  }

  .about-statement {
    font-size: 1em;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  .stack-icons {
    margin: 15% auto;
    margin-left: 13%;
    width: 80%;
  }

  .icon {
    width: 15%;
    margin: 4% 4%;
  }

  /* WORK CONTAINER */

  .my-work {
    font-size: 4em;
    width: 60%;
    margin-bottom: 15%;
  }

  .project-container {
    width: 80%;
  }

  .thumbnail {
    width: 110%;
    margin-left: 4%;
  }

  /* PROJECT CONTAINER */

  .project-title {
    font-size: 2em;
  }

  .project-summary {
    font-size: 1em;
  }

  .project-image {
    width: 100%;
    margin: 4% auto;
  }

  .project-link {
    font-family: 'Archivo';
    width: 100%;
    color: #E85A4F;
    font-size: 1.1em;
  }

  .project-cross {
    width: 7%;
    right: 20%;
  }

  /* CONTACT CONTAINER */

  .contact {
    font-size: 2em;
  }

  .email {
    font-size: 0.8em;
  }

  .phone {
    font-size: 0.8em;
  }

  .socials {
    width: 15%;
  }
}
