/* FONT IMPORT */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #1E2751;
}

body::-webkit-scrollbar {
  display: none;
}

/* BACKGROUND STARS */

.stars1 {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.stars2 {
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}

.stars3 {
  position: absolute;
  z-index: -1;
  opacity: 0.4;

}

/* OPENING CONTAINER */

.jake-hurley {
  color: white;
  text-align: center;
  font-size: 8em;
  width: 45%;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 0;
}

.job-title-container {
  margin: 0 auto;
}

.job-title-line-1 {
  margin-left: 28%;
  display: inline-block;
  padding-bottom: 0.3%;
}

.job-title-line-2 {
  display: inline-block;
  padding-bottom: 0.3%;
}

.job-title {
  display: inline-block;
  color: white;
  margin-top: 0;
  text-align: center;
  font-size: 1.75em;
  width: 30%;
}

.job-title-slash {
  color: #E85A4F;
}

.option-box {
  font-size: 1.75em;
  text-align: center;
  display: inline-block;
  color: white;
  width: 18%; 
  padding: 0 0.5%;
  background: #E85A4F; 
  border-radius: 10px;
}

.resume-box {
  margin:5% 7% 0 27%;
}

.option-text {
  margin: 5%;
}


.about-me-box {
  margin-right: 20%;
}

.cta-arrow {
  padding-top: 10%;
margin-left: 48%;
}


/* NAVBAR */

.navbar {
  color:white;
  margin: 5% 0;
  width: 100%;
  background: #E85A4F;
}

.navbar-item {
  display: inline;
  color:white;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  padding: 3% 4%;

}

.navbar-about {
  margin-left: 22%;
}

/* ABOUT ME CONTAINER */

.about-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.about-me {
  color: white;
  font-size: 7em;
  width: 30%;
  margin: 3% auto;
  text-align: center;
  border-bottom: 5px solid #E85A4F;
}

.about-statement {
  font-size: 1.7em;
  width: 20%;
  margin-left: 27%;
  margin-right: 5%;
}

.stack-icons {
  display: flex;
  flex-wrap: wrap;
  width:20%;
}

.icon {
  margin:5% 8%;
}


/* MY WORK CONTAINER */

.my-work {
  color: white;
  font-size: 7em;
  width: 27%;
  margin: 10% auto;
  text-align: center;
  border-bottom: 5px solid #E85A4F;
}


.work-container {
  width: 70%;
  border: 2px solid #E85A4F;
  margin: 0 auto;
}